* {
  font-family:'Poppins',;
  margin: 0;
  padding: 0%;
}
.login-wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
}
.login-wrapper .login-wrapper-bg {
  z-index: -1;
  width: 100%;
}
.login-login-box {
  justify-items: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 110%;
}
.textbox-login img {
  padding: 3em;
}
.textbox-login h2{
  font-weight: 700;
}
.textbox-login h1 {
  padding-bottom: 1em;
}
.textbox-login p {
  padding-top: 0.1em;
}
.textbox-login hr {
  position: relative;
  left: 2em;
  width: 30em;
  color: #9c9b9b;
}
.form-iogin-input {
  display: block;
  padding-bottom: 3em;
}
.form-iogin-input input {
  margin: 1em;
  margin-top: 1em;
  width: 21.5em;
  height: 2.5em;
  background: transparent;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  font-size: 18px;
}
.form-iogin-input .inputbox-password {
  position: relative;
  left: 0.3em;
}
.form-iogin-input label {
  position: relative;
  right: 25.4em;
  transition: 0.3s;
  font-weight: 700;
}
.inputbox-username input:valid ~ label,
.inputbox-username input:focus ~ label {
  color: #003A7D;
  transform: translateY(-23px);
}
.inputbox-password input:valid ~ label,
.inputbox-password input:focus ~ label {
  color: #003A7D;
  transform: translateY(-23px);
}
.inputbox-username input:valid,
.inputbox-username input:focus {
  color: #000000;
  border-bottom: #e0dfdf solid;
}
.inputbox-password input:valid,
.inputbox-password input:focus {
  color: #000000;
  border-bottom: #d7d7d7 solid;
}
.login-form button {
  position: relative;
  right:10px;
  width: 7em;
  height: 2.5em;
  border: none;
  background-color: #003A7D;
  border-radius: 5px;
  color: white;
}
