.member-main{
    display: block;
    margin: 2em 7em;
    width: 70em;
    /* border-bottom: 1px solid; */
}
.member-main-teble{
    margin-left: 5em;
    border: 1px solid;

}
.member-main-teble-thead th{
    padding: 1em 1em;
    border-bottom: 1px solid;
}
.member-main-teble-thead td{
    padding: 1em 1em;
    border-bottom: 1px solid;
}
.member-main-teble-lower{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1em 2em;
    height: 1em;
}
.member-main-teble-lower p{
}
.member-main-teble-lower select{
    width: 2em;
    height: 2em;
}